* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --text-color: #302e29;
  --main-color: #ff9100;
  --second-color: #858585;
  --bg-color: #fffbf6;
  --verde-color: #4aec09;

  --big-font: 4.5rem;
  --h2-font: 2.0rem;
  --p-font: 1.1rem;
}

span {
  color: var(--main-color);
}

section {
  padding: 90px 15% 80px;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* == HEADER == */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 23px 15%;
  transition: all .38s ease;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
}
.navbar {
  display: flex;
}
.navbar a  {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 5px 10px;
  margin: 2px 25px;
  border-bottom: 2px solid transparent;
  transition: all .38s ease;
}
.navbar a:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}
.h-icons {
  display: flex;
  align-items: center;
  padding: 10px 22px;
  background: var(--main-color);
  border-radius: 5rem;
}
.h-icons i {
  font-size: 22px;
  color: var(--bg-color);
  margin-right: 15px;
  margin-left: 8px;
}
#menu-icon {
  font-size: 32px;
  color: var(--bg-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}


/* == HOME == */
.home {
  height: 88vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.home-texto h1 {
  font-size: var(--big-font);
  line-height: 1.2;
  margin-bottom: 2rem;
}
.home-texto p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--second-color);
  line-height: 32px;
  margin-bottom: 2.3rem;
}
.btn {
  display: inline-block;
  padding: 14px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 5rem;
  transition: all .38s ease;
}
.btn:hover {
  letter-spacing: 1px;
}
.home-img {
  width: 100%;
  height: auto;
}

/* == BUSCA == */

#busca {
  padding: 10px;
  background-color: #f9f9f9;
  height: 100vh;
}

.busca h2 {
  font-size: var(--h2-font);
  text-align: center;
  margin-bottom: 20px;
  padding-top: 4rem;
  color: var(--main-color);
}
.busca p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--second-color);
  line-height: 32px;
  margin-bottom: 2.3rem;
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: all .38s ease;
}
.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 50%;
  height: auto;
  padding-top: 1rem;
}

.card h3 {
  padding: 10px 0;
  font-size: var(--p-font);

  background-color: var(--main-color);
  color: var(--bg-color);
}

/* .select-btn {
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  padding-bottom: 0;
} */

/* .select-btn:hover {
  background-color: #0056b3;
} */

/* Responsividade */
/* Responsividade para telas com largura máxima de 1640px */
@media (max-width: 1640px) {
  .home-texto h1 {
    font-size: 4rem;
  }
  .home-texto p {
    font-size: 1rem;
  }
  .btn {
    padding: 12px 24px;
  }
}

/* Responsividade para telas com largura máxima de 1110px */
@media (max-width: 1110px) {
  header {
    padding: 20px 10%;
  }
  .home {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .home-texto h1 {
    font-size: 3.5rem;
  }
  .home-img img {
    width: 80%;
  }
}

/* Responsividade para telas com largura máxima de 1090px */
@media (max-width: 1090px) {
  .navbar a {
    font-size: 0.9rem;
    margin: 2px 20px;
  }
  .home-texto h1 {
    font-size: 3.2rem;
  }
}

/* Responsividade para telas com largura máxima de 880px */
@media (max-width: 880px) {
  .home-texto h1 {
    font-size: 2.8rem;
  }
  .home-texto p {
    font-size: 0.9rem;
  }
}

/* Responsividade para telas com largura máxima de 760px */
@media (max-width: 760px) {
  header {
    padding: 15px 5%;
  }
  .home {
    padding: 80px 5%;
    grid-template-columns: 1fr;
  }
  .home-img img {
    width: 70%;
  }
  .home-texto h1 {
    font-size: 2.5rem;
  }
}
